<title>Register</title>
<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}" type="text/css"/>
<link rel="stylesheet" href="{{ asset('assets/css/register.css') }}" type="text/css"/>
{{ include('inc/navbar.html.twig') }}

{% block body %}

    <div class="signup-form">

        {{ form_start(registrationForm) }}
        <h2>Register</h2>
        {{ form_row(registrationForm.firstName) }}
        {{ form_row(registrationForm.lastName) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.password) }}
        {{ form_row(registrationForm.agreeTerms) }}
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
