{% extends 'base.html.twig' %}
{% block body %}
    <br>
    <br>
    <div class="table-bordered">
    <form class="form-inline">
{{ form_start(patientForm) }}
        <div class="form-group mx-sm-3 mb-2">
        {{ form_row(patientForm.name) }}
        </div>
        <div class="form-group mx-sm-3 mb-2">
        {{ form_row(patientForm.race) }}
        </div>
        <div class="form-group mx-sm-3 mb-2">
        {{ form_row(patientForm.type) }}
        </div>
        <div class="fa fa-pull-right">
        {{ form_widget(patientForm.Search) }}
        </div>
{{ form_end(patientForm) }}
    </form>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#usersTable').dataTable({
                "searching": false,
                "order": [],
                "ordering": false,
            });
        });
    </script>
{% endblock %}