{% extends 'base.html.twig' %}

{% block title %}Patients List{% endblock %}

{% block body %}
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-5">
                        <h2>Patients<b>List</b></h2>
                    </div>

                </div>
            </div>
            <table class="table table-striped" id="usersTable">
                <thead>
                <tr>
                    <th class="th" scope="col"> #</th>
                    <th scope="col"> Name</th>
                    <th scope="col"> Birth Date</th>
                    <th scope="col"> Race</th>
                    <th scope="col"> Type</th>
                    <th scope="col"> Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for patient in patients %}
                    <tr>
                        <th scope="row">{{ patient.id }}</th>
                        <td>{{ patient.name }}</td>
                        <td>{{ patient.birthDate|date("m/d/Y") }}</td>
                        <td>{{ patient.race }}</td>
                        <td>{{ patient.type }}</td>
                        <td>
                            <a href="/patient/details/{{ patient.id }}" class="btn btn-primary">
                                <span class="fa fa-info"></span>
                            </a>
                            <a href="/patient/edit/{{ patient.id }}" class="btn btn-primary">
                                <span class="fa fa-edit"></span>
                            </a>
                            <a href="#myModal" class="btn btn-primary" data-toggle="modal" data-id="{{ patient.id }}">
                                <span class="fa fa-trash"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Are you sure?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Do you really want to delete this record? This process cannot be undone.</p>
                    <hr>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>

                    <a href="/user/delete/">
                        <button type="button" class="btn btn-danger">Delete</button>
                    </a>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#usersTable').dataTable({
                "searching": false,
                "order": [],
                "ordering": false,
            });
        });
    </script>
{% endblock %}


