<link rel="stylesheet" href="{{ asset('/assets/css/navbar.css') }}" type="text/css"/>
<nav class="navbar navbar-expand-sm">

        <a href="/" class="navbar-brand">MedVet</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
            <span class="navbar-toggler-icon"></span>
        </button>
    <div class="container">
        <div class="collapse navbar-collapse" id="mobile-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                {% if app.user %}
                <li class="nav-item">
                    <a href="/user" class="nav-link">Users</a>
                </li>
                {% endif %}
                {% if app.user%}
                <li class="nav-item dropdown active-result">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       Welcome, {{ app.user.firstName }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Profile</a>
                        <a class="dropdown-item" href="#">Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </li>
                {% else %}
                    <li class="nav-item dropdown active-result">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Account
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{path('app_login')}}">Login</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('app_register') }}">Register</a>
                        </div>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

