{% extends 'base.html.twig' %}

{% block title %}Users Homepage{% endblock %}

{% block body %}
    {% for users in user %}
<h1>{{ user.firstname }}</h1>
    <h2>{{ user.lastname }}</h2>
    <hr>
        test
    <a href="/">Go Back</a>
    {% endfor %}
{% endblock %}

{% block javascripts %}
    {#    <script src="{{ asset('assets/js/datatables.js') }}"></script>#}
{% endblock %}